---
layout: default
title: Upcoming Workshops
description: Scrum Lake - Our Upcoming Scrum Lake Workshops
---


<div class="container">

  <h1 class="display-4">{{page.title}}</h1>

  <h2 class="featurette-heading">Dive into a
    <span class="text-muted"> Scrum Lake Workshop
    </span>
  </h2>

  <p>
    Scrum Lake workshops are scheduled every few weeks, each workshop is unique owing to the diversity of attendees and
    stories from around the World. You and your fellow divers will explore together.
  </p>

  <h3>Immerse yourself in a Scrum Lake Workshop, and Dive much Deeper into Scrum</h1>
  <p>For people interested in Scrum, Scrum Lake is a place to share stories, discuss techniques and take a deeper dive into Scrum theory, practice and reality. Our engaging workshops bring Scrum Masters and coaches from around the world to work together. Together, we deepen our understanding of Scrum through a shared experience.</p>
  <p>In this two hour virtual workshop, the participants will choose where they want to explore as a group. Do they want to look at individual values and how these manifest? Do they want to dive into how transparency, inspection and adaptation build trust? Do they want to explore how empiricism and Lean thinking combine to form Scrum's DNA?&nbsp; Explore Artifacts, Events or Accountabilities much deeper than you ever thought was possible.&nbsp;Anything is possible in Scrum Lake, the route we take through the lake is decided on by the participants in the workshop, we Explore more deeply together.<br></p>
  <p>These workshops are for everyone. The only requirement is that you have some involvement with Scrum's application. This can be as a developer, Scrum Master, Product Owner or stakeholder.</p>

  <div class="card-deck mb-3">

    {% for item in site.workshops %}

    <div class="card mb-4 box-shadow">
      <div class="card-body">

        {% if item.eventidchk == '' %}

          More Scrum Lake Events Coming Solutions

          <img src="images/scrummarine.png" class="img-fluid" alt="A Scrum Team is like a submarine" />

        {% else %}

        <div class="tt-widget">
          <div class="tt-widget-fallback">
            <p>
              <a href="https://www.tickettailor.com/checkout/new-session/{{ item.eventidchk }}/ref/website_widget"
                target="_blank">Click here to buy tickets</a>
              <br />
              <small>
                <a href="https://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket
                  Tailor</a></small>
            </p>
          </div>
          <script src="https://www.tickettailor.com/js/widgets/min/widget.js"
            data-url="https://www.tickettailor.com/checkout/new-session/{{ item.eventidchk }}/ref/website_widget"
            data-type="inline" data-inline-minimal="false" data-inline-show-logo="true"
            data-inline-bg-fill="false"></script>
        </div>


        {% endif %}

      </div>
    </div>

    {% endfor %}

  </div>

  <div>

  <h3>Leading Scrum Masters, Coaches and&nbsp;Product Owners&nbsp;from all over&nbsp;the world describe their experience of a Scrum Lake Workshops on <a href="https://www.trustpilot.com/review/scrumlake.com" target="_blank" rel="nofollow noreferrer noopener">TrustPilot</a>:</h1>
  <p><img src="https://scrumlake.com/images/attendees.png" class="img-fluid" alt="Just a small selection of Happy Scrum Lake participants from previous workshops - Gregory, Ovidiu, Jamie, Marion, Kapil, Richard, Gianni, Tom and Katrin" data-image="8i6anulrrwwb"></p>
  <h3><a href="https://www.trustpilot.com/reviews/6016e60e679d9701d07e84ab" target="_blank" rel="nofollow noreferrer noopener">Scrum lake is Mind-Expanding</a>&nbsp;-&nbsp;<a href="https://www.linkedin.com/in/gregory-miller-43682429/" target="_blank" rel="nofollow noreferrer noopener">Gregory Miller</a>, Ohio -&nbsp; Coach, Trainer, Speaker and Podcast Host of "The Agile Within Podcast"<br></h1>
  <p><strong><strong><strong></strong></strong></strong>"Scrum Lake is the best community gathering I’ve ever been to. They are very welcoming to all regardless of your experience. I’d recommend this to anyone looking to grow knowledge and share experiences. The amount of they put into the visuals is truly amazing. It’s also very interactive and not boring at all. You are not talked to but rather invited into the conversation"</p>
  <h3><a href="https://www.trustpilot.com/reviews/5feba48e755dc1032c06f7d0" target="_blank" rel="nofollow noreferrer noopener">Diving deep!</a>&nbsp;- <a href="https://www.linkedin.com/in/marionbarry/" target="_blank" rel="nofollow noreferrer noopener">Marion Barry</a>, Berlin -&nbsp;CSM® | PSM I | SAFe (5.0)) ⋆ Design Thinker</h2>
  <p>"Once again, John and Ryan created a wonderful workshop, Scrum Lake, where we examined events within scrum framework and "dived deep". This was the second session I attended in the Scrum Lake series, and each time I am amazed at the visuals, energised by the conversations, and impressed by how John and Ryan create a safe and creative space that allows everyone to be open and have meaningful discussions."</p>
  <h3><a href="https://www.trustpilot.com/reviews/5fe1c070755dc10b482ae767" rel="nofollow">Ryan and John are very professional facilitators</a>&nbsp;-&nbsp;<a href="https://www.linkedin.com/in/hosnyashry/" target="_blank" rel="nofollow noreferrer noopener">Hosny Ashry</a>,&nbsp;Riyadh - Scrum Master | PSM II and&nbsp;𝗣𝗦𝗣𝗢 𝗜𝗜</h2>
  <p>"I really enjoy the time with Ryan and John they are professional facilitators and I really appreciate the time and effort they give to the community.<br>I am looking forward to meet them again in another amazing workshop"<br></p>
  <h3><a href="https://www.trustpilot.com/reviews/5fc348615e693f08f00d9c37" rel="nofollow">Great opportunity to meet experienced SM&nbsp;</a>-&nbsp;<a href="https://www.linkedin.com/in/racostadia/" target="_blank" rel="nofollow noreferrer noopener">Richard Acosta</a>, Paris -&nbsp;Coach, Trainer and Speaker</h2>
  <p>"Amazing opportunity to meet experienced Scrum Masters that can share anecdotes and ideas on how to unblock familiar impediments within the team or in the organization based on Scrum theory and values and backed up with real experience."<strong><br></strong></p>
  <hr>
  <p><h3>What is Scrum Lake?</h3></p>
  <p>Scrum Lake is a metaphor for the Scrum framework. Our lake is a&nbsp;container for other metaphors such as a submarine and&nbsp;explorers (Scrum Team and Accountabilities), a ship (events), items that represent work or value (artefacts and&nbsp;commitments to), Bedrock (The Values of&nbsp;Commitment, Courage, Focus, Openness and Respect)&nbsp;and the Sedimentary layers (Scrum Theory and Empiricism)&nbsp;plus many more to visualise and help folks to connect more deeply.&nbsp; Our metaphors and images are&nbsp;all carefully crafted to promote discussion of tough concepts. Importantly, these are the metaphors we have designed. Don't like them? Come up with your own and share it with the participants. Metaphors are powerful if they are emotional and personal. Buy into ours, or craft your own!<br></p>
  <p><h3>What are the workshops all about?</h3></p>
  <p>Using a pre-prepared canvas, you and your fellow explorers will dive into Scrum Lake. In a typical two hour event, you will co-create the journey through the lake as a team, supported by experienced Scrum Masters (Dive Masters) at all times.</p>
  <p><img src="https://scrumlake.com/images/scrumlakecanvas.png" class="img-fluid" alt="Scrum Lake Co-Creative Canvas" data-image="5i36ot08bm2o"></p>
  <p>Do you want to investigate how you can make the artefacts in Scrum Lake more transparent? Take a deeper look at Scrum theory? Investigate how poorly defined accountabilities can impact your Scrum Team? How does empiricism flow and come to life building trust&nbsp;and how does it does link into the embodiment of values?&nbsp;These are the kind of questions we explore in Scrum Lake, we exploring them in a human way sharing our stories with each and exploring the reality, and what can be.&nbsp;It's all there... within our shared experience as&nbsp;John and Ryan expertly facilitate the Scrum Lake Workshop.<br></p>
  <hr>
  <p>If you have any&nbsp;Questions? please&nbsp;Drop an email over to sales@scrumlake.com and we'll get back.&nbsp; Alternatively please take a&nbsp;look around our website&nbsp;<a href="https://www.scrumlake.com" target="_blank" rel="nofollow noreferrer noopener">www.scrumlake.com</a></p>
  <hr>
  <p><em>The statements made and opinions expressed belong exclusively to the authors and are not necessarily shared by or represent the viewpoint of any official organisation. Scrum Lake does not constitute an endorsement of any product, service or point of view. We make no representations, warranties or assurances of any kind, express or implied, as to the completeness, accuracy, reliability, suitability, availability or currency of the content contained on this website. All images and content contained, unless expressly identified, are the property of its authors and may not be re-produced or re-used with prior written permission.</em></p>
</div>


  <p>
    Contact <a class="text-muted" href="mailto:sales@scrumlake.com">sales@scrumlake.com</a> if you would like to
    schedule a private remote facilitated Scrum Lake workshop within you're organisation. Private workshops are perfect
    for Community of Practice, Groups of Scrum Masters and Coaches, Developers and Leaders.
  </p>

</div>