<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">

    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/images/scrumlaketitle.png" alt="Scrum Lake Logo" width="258" height="173">

        <small class="d-block mb-3 text-muted">
          <br />&copy All Agile Limited 2020
          <br />&copy Shawbrook Solutions Limited 2020
        </small>

      </div>

      <div class="col-6 col-md">
        <h5>Features</h5>

        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="/workshops">Our Workshops</a>
          </li>
          <li>
            <a class="text-muted" href="/thestory">The Story</a>
          </li>
          <li>
            <a class="text-muted" href="/divemasters">Our Team</a>
        </ul>

        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad"
          data-businessunit-id="5fc209adab2867000112f772" data-style-height="24px" data-style-width="100%"
          data-theme="light">
          <br />
          <a href="https://uk.trustpilot.com/review/scrumlake.com" target="_blank" rel="noopener">Trustpilot</a>

        </div>

      </div>
      <div class="col-6 col-md">
        <h5>Coming Soon</h5>
        <ul class="list-unstyled text-small font-italic">
          <li>Blogs</li>
          <li>Tees, Mugs</li>
          <li>Scrum Guide Cards</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Legal Stuff</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/legal/privacy">Privacy</a></li>
          <li><a class="text-muted" href="/legal/terms">Terms and Conditions</a></li>
          <li><a class="text-muted" href="/legal/agreements">Copyright, Licences and Disclaimer</a></li>
        </ul>

      </div>

    </div>

  </footer>
</div>