<hr />

<footer class="footer-area footer--light">


    <div class="footer-big">

        <div class="container">
            <div class="row">
                
                <div class="col-md-3 col-sm-12">

                    <a href="/"><img src="/images/scrumlaketitle.png" alt="Scrum Lake" class="img-fluid"></a>

                </div>


                <div class="col-md-3 col-sm-4">

                    <h5>Navigate</h5>

                    <ul class="list-unstyled text-small">

{% for item in site.navigation %}

                        <li>
    {% if item.url == '/' and page.url == '/' %}
                            {{ item.title }}
    {% elsif item.url != '/' and (page.url contains item.url) %}     
                            {{ item.title }}
    {% else %}
                            <a class="text-muted" href="{{ item.url }}">{{ item.title }}</a>
    {% endif %}
                        </li>

{% endfor %}

                    </ul>

                </div>


                <div class="col-md-3 col-sm-4">

                    <h5>Legal</h5>

                    <ul class="list-unstyled text-small">

{% for item in site.legal %}

                    <li>
{% if page.url contains item.url %}     
                        {{ item.title }}
{% else %}
                        <a class="text-muted" href="{{ item.url }}">{{ item.title }}</a>
{% endif %}
                    </li>

{% endfor %}

                    </ul>

                </div>


                <div class="col-md-3 col-sm-4">

                    <h5>Connect with Us</h5>

                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://www.linkedin.com/company/scrumlake/"><i
                                    class="fab fa-linkedin-in">&nbsp;</i>LinkedIn Updates</a></li>
                        <li><a class="text-muted" href="https://www.tickettailor.com/events/scrumlake"><i
                                    class="fas fa-calendar-alt">&nbsp;</i>TicketTailor BoxOffice</a></li>
                        <li><a class="text-muted" href="mailto:sales@scrumlake.com"><i
                                        class="far fa-envelope">&nbsp;</i>sales@scrumlake.com</a></li>
                    </ul>

                    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad"
                        data-businessunit-id="5fc209adab2867000112f772" data-style-height="49px"
                        data-style-width="200px" data-theme="light">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <small class="d-block mb-3 text-muted text-center">© <a href="https://allagile.co.uk/">
                    All Agile Limited</a> 2020 - {{ "now" | date: "%Y" }} 
                    and Shawbrook Solutions Limited 2020 - {{ "now" | date: "%Y" }}. 
                    All Rights Reserved. Website created by <a href="https://allagile.co.uk/">All Agile Limited</a>
                </small>
            </div>
        </div>

    </div>
</footer>