


<hr/>

<footer class="footer-area footer--light">

  <div class="footer-big">

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <img src="https://beta.scrumlake.com/images/scrumlaketitle.png" alt="Scrum Lake" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">

                <h5><a class="text-muted" href="/">Scrum Lake</a></h5>

                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="/workshops">Upcoming Workshops</a>
                    </li>
                    <li>
                        <a class="text-muted" href="/thestory">Scrum Lake Story</a>
                    </li>
                    <li>
                        <a class="text-muted" href="/divemasters">Your Facilitators</a>
                </ul>

            </div>
          </div>
        </div>


        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">

                <h5>Legal</h5>

                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/legal/privacy">Privacy Policy</a></li>
                    <li><a class="text-muted" href="/legal/terms">Terms and Conditions</a></li>
                    <li><a class="text-muted" href="/legal/agreements">Copyright, Licenses and Disclaimer</a></li>
                </ul>

            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">

                <h5>Connect with Scrum Lake</h5>

                
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://www.linkedin.com/company/scrumlake/"><i class="fab fa-linkedin-in"></i> Scrum Lake on LinkedIn</a></li>
                    <li><a class="text-muted" href="https://www.eventbrite.co.uk/o/scrum-lake-30423975416"><i class="fas fa-calendar-alt"></i> Scrum Lake on EventBrite</a></li>
                </ul>

                <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad"
                data-businessunit-id="5fc209adab2867000112f772" data-style-height="49px" data-style-width="200px"
                data-theme="light">
                <br />
                <a href="https://uk.trustpilot.com/review/scrumlake.com" target="_blank" rel="noopener">Trustpilot</a>

            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <small class="d-block mb-3 text-muted">© <a href="https://allagile.co.uk/">All Agile Limited</a> 2020 and Shawbrook Solutions Limited 2020. All Rights Reserved.  Website created by <a href="https://allagile.co.uk/">All Agile Limited</a></small>
        </div>
      </div>
    </div>
    
  </div>

</footer>