<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

    <a class="navbar-brand" href="/">
        <img src="/images/scrumlakewidetitle.png" alt="Scrum Lake" width="250" height="65">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Scrum Lake<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/workshops">Our Workshops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/thestory">The Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/divemasters">Our Team</a>
            </li>
        </ul>

    </div>
</nav>