<nav class="navbar navbar-expand-lg navbar-light static-top" style="background-color: #e3f2fd;">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/images/scrumlakewidetitle.png" alt="Scrum Lake" width="170" height="30">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

{% for item in site.navigation %}

    {% if item.url == '/' and page.url == '/' %}
                <li class="nav-item active parent">
                    <a class="nav-link" href="{{ item.url }}">{{ item.title }}<span class="sr-only">(current)</span></a>
                </li>
    {% elsif item.url != '/' and (page.url contains item.url) %}     
                <li class="nav-item active">
                    <a class="nav-link" href="{{ item.url }}">{{ item.title }}<span class="sr-only">(current)</span></a>
                </li>
    {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
                </li>
    {% endif %}

{% endfor %}

            </ul>
        </div>
    </div>



</nav>

