<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="All Agile Limited">

  <meta property='og:title' content='Scrum Lake: Dive into Scrum, Co-Creative Workshops' />
  <meta property='og:image' content='{{ "images/scrumlakesocial.png" | absolute_url }}' />
  <meta property='og:description'
    content='For folks interested in Scrum, Scrum Lake is a place to share stories, discuss techniques and take a deeper dive into the Scrum. Work with Scrum Masters and Coaches from around the world and uncover a much deeper understanding through metaphor.  Scrum Lake workshops have received many plaudits, due to the our different approach, taking folks on a journey to explore together' />
  <meta property='og:url' content='{{ page.url | absolute_url }}' />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N0KBHZQ865"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N0KBHZQ865', {
      'linker': {
        'domains': ['www.tickettailor.com']
      }
    });
  </script>

  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 2120458, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>

  <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/a6ff8c94eaa554029d175588b/9b7cd0844ec85697945c22ffe.js");
  </script>

  <script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>

  <script src="https://kit.fontawesome.com/60b6d0eb3a.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/bubbles.css">

  <script src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1"></script>

  <title>{{ page.title }}</title>

  <link rel="icon" href="/images/scrumlaketitle.png">

</head>

<body>

  {% include topnav.html %}

  {{ content }}

  {% include bottomnav.html %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</body>

</html>